/* Hero Section Styles from Clone */
.intro-section {
  position: relative;
}

.intro-section, .intro-section .container .row {
  height: 85vh;
  min-height: 900px;
}

.intro-section:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 70%;
  background: #352961;
  border-bottom-right-radius: 200px;
}

@media (max-width: 991.98px) {
  .intro-section:before {
    width: 100%;
  }
}

.intro-section h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
}

.intro-section p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  max-width: 400px;
}

@media (max-width: 991.98px) {
  .intro-section p {
    min-width: 100%;
  }
}

.intro-section .btn {
  border-width: 2px;
}

/* Carousel styles */
.custom-owl-carousel .slide-one-item-alt {
  border-top-left-radius: 200px;
  overflow: hidden;
  -webkit-box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.4);
  position: relative;
}

.slide-one-item-alt-text {
  position: relative;
  overflow: hidden;
}

.slide-one-item-alt-text .slide-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

.slide-one-item-alt {
  position: relative;
  overflow: hidden;
  min-height: 600px;
  background-color: #f5f5f5;
}

.slide-one-item-alt img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .custom-owl-carousel .col-lg-5 {
    margin-top: 40%;
  }
  
  .slide-one-item-alt-text {
    text-align: center;
  }
}

